.view_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px; 
    width: 75%;
    float: right;
}

.gral_cont{
    width: 100%;
    height: 50px;
    position: relative;
}



.view_container img {
    cursor: pointer;
}

.view {
    font-family: 'BebasNeue-Light';
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 4px;
    text-align: center;
    color: #fff;
    margin-right: 11px;
    cursor: pointer;

}

.see_container{
    position: absolute;
    left:0px;
    right:0px;
    top:25px;
    margin:auto;
    min-width: 100%;
    height: 96px;
    background-color: var(--color-bg);
    color:#fff;
    list-style: none;
    z-index: 4; 
    overflow: hidden;
}

.see_container_close{
    visibility:hidden
}

.see_container_li {
    margin-left: 24px;
    padding-top: 18px;
    font-family: BebasNeue-Light;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 4px;
    text-align: left; 
    cursor: pointer; 
}

.see_container_li_checked{
    font-family: 'BebasNeue-Regular';
    
}

.select_item{
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.checked_1 {
    margin-top: 15px;
    margin-left: 110px;
}

.checked_2 {
    margin-top: 15px;
    margin-left: 83px;
}

.checked_1_close {
    display: none;
}

.checked_2_close {
    display: none;
}

.margin_end{
    width: 100%;
    height: 50px;
}


 /*********** MEDIA QUERIES (MEDIUM DEVICES ************/
 @media screen and (max-width: 1024px) {
    .view_container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px; 
        width: 65%;
        margin: 0 auto;
        margin-bottom: 25px;
        float:none;
    }



 }
 
 /*********** MEDIA QUERIES (SMALL DEVICES ************/
 @media screen and (max-width: 600px) {
 
 }
