.best_container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.gral_container {
    margin: auto;
    width: 85%;
    padding-top: 32px;
    
}

.lateral_container {
    margin-top: 80px;
    width: 25%;
    height: auto;
    float: right;
}

.top_container {
    width: 100%;
    height: 40px;
}

.center_container {
    width: 75%;
    height: auto;
    float: left;
}

.bkg_image{
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
    opacity: 0.8;
    object-fit:cover;
    animation: zoom 3s;
}

.degradee_container {
    display: none;
}

.degradee_mobile {
    display: none;
}

@keyframes move {
    0% {
        transform: translate(-20%, 0)
    }
}

/*********** MEDIA QUERIES (MEDIUM DEVICES ************/
@media screen and (max-width: 1024px) {
    
    .center_container{
        width: 100%;
        height: auto;
       }
       
       .bkg_image {
        height: 50%;
        animation: none;
       }
    
       .degradee_container {
        display: block;
        position: absolute;
        width: 100%;
        height: 50%;
        }
    
        .degradee_mobile {
        display: block;
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 193px;
        background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0%, #242424 100%);
        position: absolute;
        z-index: -1;
        } 
    
        .gral_container {
            padding-top: 15px;
        }
    
        .lateral_container {
            width: 100%;
            margin-left: 0;
        }
        .center_container {
            width: 100%;
            margin: 0 auto;
        }
        .view_container{    
            width: 100%;
        }
        .form_cont {
            width: 100%;
            height: 53.7%;
        }

    
    
}

/*********** MEDIA QUERIES (SMALL DEVICES ************/
@media screen and (max-width: 600px) {
   .center_container{
    width: 100%;
    height: auto;
   }
   
   .bkg_image {
    height: 38%;
    animation: none;
   }

   .degradee_container {
    display: block;
    position: absolute;
    width: 100%;
    height: 38%;
    }

    .degradee_mobile {
    display: block;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 193px;
    background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0%, #242424 100%);
    position: absolute;
    z-index: -1;
    } 

    .gral_container {
        padding-top: 15px;
    }

    .lateral_container {
        width: 100%;
        margin-left: 0;
    }
    .center_container {
        width: 100%;
        margin: 0 auto;
    }
    .view_container{    
        width: 100%;
    }
    .form_cont {
        width: 100%;
        height: 53.7%;
    }
}








