.navbar_container {
    clear: both;
    width: 100%;
    height: 50px;
}

.navbar_left{
    float: left;
    width: 80%;
    display: flex;
    align-items: center;
}

.navbar_right{
    float: right;
    margin-top: 0;
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: flex-end;
}

.navbar_xs {
    display: none;
}


.add_movie{
    height: 40px;
    background-color: transparent;
    border: none;
    font-family: 'BebasNeue-Regular';
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    letter-spacing: 4px;
    cursor: pointer;
}

.plus{
    width: 14px;
    margin-right: 12px;
    margin-left: 64px;
}

.menu{
    margin-right: 40px;
    cursor: pointer;
}

.notification{
    margin-right: 40px;
    cursor: pointer;
}

.avatar{
    border-radius: 30px;
    cursor: pointer;
}


/*********** MEDIA QUERIES (MEDIUM DEVICES ************/
@media screen and (max-width: 1024px) {
}
   
   /*********** MEDIA QUERIES (SMALL DEVICES ************/
@media screen and (max-width: 600px) {
    .navbar_xl {
        display: none;
    }
    .navbar_xs {
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }

    .menu_xs {
        transform: scaleX(-1);
    }
 
    .add_movie_container{
        display: none;
    }
    .notification{
        display: none;
    }
    .navbar_left{
        justify-content: flex-end;
    }

}















